:root {
    /* fonts */
    --main-font: 'Open Sans';
    --second-font: 'Raleway';
    /* colors */
    --main-color: #ffffff;
    --hover-color: #ff6c00;
    --uppertitle-dark: rgba(157, 164, 189, 0.6);
    --text-light-color: #9da4bd;
    --text-dark-color: #555555;
    --slider-bg-color: rgba(25, 28, 38, 0.2);
    --dark-color: #303030;
    --free-color: transparent;
    --services-bg-color: #111319;
    --barbers-bg-color: #f7f7f7;
    --contacts-bg-color: #191C26;
    --grow-line-color: rgba(157, 164, 189, 0.12);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --modal-color: rgba(255, 255, 255, 1);
    --close-border-color: rgba(0, 0, 0, 0.1);
    --placeholder-text-color: rgba(157, 164, 189, 0.4);
    /* others */
    --benefits-shadows: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --left-list-gradient: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    --right-list-gradient: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --close-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
    background-color: var(--main-color);
    font-family: var(--main-font), sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
}

.section {
    padding-bottom: 130px;
    padding-top: 130px;
}

.btn,
.btn-light,
.btn-dark {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.09em;
    text-transform: uppercase;
    min-width: 160px;
    background-color: var(--free-color);
    border: 1px solid var(--hover-color);
    border-radius: 25px;
    padding: 12px 20px;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.btn-light {
    color: var(--main-color);
}

.btn-dark {
    color: var(--dark-color);
}

.btn:hover,
.btn:focus,
.btn-light:hover,
.btn-light:focus,
.btn-dark:hover,
.btn-dark:focus {
    background-color: var(--hover-color);
    color: var(--main-color);
}

/* ===================== */
/* Hero and Header */
/* ===================== */

.hero {
    position: relative;
    top: 0;
    left: 0;
    height: 680px;
    text-align: right;
    background-image: url(../image/slider/slider1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
}

.down-group {
    position: relative;
    top: 616px;
    left: 986px;
    transform: translateX(0);    
}

.slide-one {
    position: absolute;
    top: -616px;
    left: 0;
    transform: translateX(50%);
    pointer-events: none;
    z-index: -20;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.slide-two {
     position: absolute;
    top: -616px;
    left: 0;
    transform: translateX(-200%);
    pointer-events: none;
    z-index: -1;
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: var(--timing-function);
}

.list-item-back:active .slide-two {
transform: translateX(-855px);
}

.list-item-forvard:active .slide-one {
transform: translateX(-855px);
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 680px;
    width: 1200px;
    padding-right: 30px;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    top: 270px;
    left: 212px;    
    z-index: 10;
}

.btn-slider {
    display: flex;
    width: 68px;
    height: 24px;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    color: var(--main-color);
    background-color: var(--free-color);
    border: none;
    cursor: pointer;
    padding: 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.btn-slider::after {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--main-color);
    margin-top: 8px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.back {
    display: block;
    text-align: left;
    margin-right: 22px;
}

.forward {
    display: block;
    text-align: right;
}

.btn-slider:hover,
.btn-slider:focus {
    color: var(--hover-color);
}

.btn-slider:hover::after,
.btn-slider:focus::after {
    background-color: var(--hover-color);
}

.slider-pagination {
    flex-direction: column;
  position: absolute;
  top: calc(50% - 15px);
  right: 35px;
  z-index: 10;
}

.slider-pagination-item {
  width: 8px;
  height: 2px;
  margin-left: auto;
  background-color: var(--text-light-color);
}

.slider-pagination-item:not(:last-child) {
  margin-bottom: 12px;
}

.slider-pagination-item.active {
  width: 18px;
  background-color: var(--main-color);
}

.logo {
    position: absolute;
    top: 32px;
    left: 30px;
    width: 70px;
    height: 55px;
    fill: var(--dark-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.logo:hover,
.logo:focus {
    fill: var(--hover-color);
}

.header {
    position: absolute;
    top: 32px;
    left: 155px;
    width: 1020px;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-right: 310px;
    gap: 30px;
}

.header-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.1em;
    color: var(--main-color);
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.header-link:hover,
.header-link:focus {
    color: var(--hover-color);
}

.btn-light.head {
    margin-left: 45px;
    display: flex;
}

.left-group {
    position: absolute;
    left: -70px;
    bottom: 169px;
    transform: rotate(-90deg);
    display: flex;
}

.link-list.left {
    align-items: center;
    gap: 30px;
}

.left::before {
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    background-color: var(--dark-color);
}

/* ============ */

.uppertitle-dark {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: calk(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-color);
    padding-bottom: 20px;
}

.uppertitle-dark::before {
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    background-color: var(--uppertitle-dark);
    margin-right: 20px;
}

.hero-title {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 72px;
    line-height: calc(85 / 72);
    letter-spacing: 0.05em;
    color: var(--main-color);
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--text-light-color);
}

.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.link {
    color: var(--dark-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.link:hover,
.link:focus {
    color: var(--hover-color);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* About */

.list.about {
    gap: 30px;
}

.cont-ab {
    display: flex;
}

.info-block {
    padding: 0 64px;
}

.uppertitle {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-color);
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.uppertitle::before {
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    background-color: var(--uppertitle-dark);
    margin-right: 20px;
}

.title-dark,
.title-light {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;

}

.title-dark {
    color: var(--dark-color);
    padding-bottom: 20px;
}

.title-light {
    color: var(--main-color);
    padding-bottom: 40px;
}

.subtitle {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--text-dark-color);
    padding-bottom: 20px;
}

.text-about {
    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.02em;
    color: var(--text-dark-color);
    padding-bottom: 40px;
}

/* Services and prices */

.serv-img {
    background-color: var(--services-bg-color);
}

.services-prices {
    background-image: url(../image/price-bg.svg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 718px;
}

.uppertitle-dark {
    color: var(--uppertitle-dark);
}

.left-list,
.right-list {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--text-light-color);
    list-style: none;
    padding: 30px 40px;
    margin: 0;
    width: 585px;
    height: 240px;
}

.left-list {
    background: var(--left-list-gradient);
}

.right-list {
    background: var(--right-list-gradient);
}

.service {
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin-bottom: 20px;
}

.service::before {
    content: '';
    display: block;
    height: 1px;
    flex-grow: 1;
    background-color: var(--grow-line-color);
}

.prices {
    display: flex;
    margin-bottom: 50px;
}

.price {
    order: -1;
}

.btn-light {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Benefits */

.benefits {
    display: flex;
}

.infograf {
    margin-left: 100px;
    margin-right: 130px;
    width: 370px;
}

.number {
    flex-wrap: wrap;
}

.benefit {
    width: 170px;
    text-align: center;
    background-color: var(--barbers-bg-color);
    box-shadow: var(--benefits-shadows);
}

.benefit {
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 19px;
    padding-left: 24px;
}

.benefit:nth-child(2n) {

    margin-top: 30px;
    margin-bottom: 0;
}

.benefit:nth-child(2n + 1) {
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 30px;
}

.old-school {
    width: 500px;
    margin-right: 70px;
}

.benefits-number {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    letter-spacing: 0.05em;
    color: var(--dark-color);
}

.sup {
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22 / 16);
    color: var(--hover-color);
    vertical-align: 10px;
}

.benefits-item {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    color: var(--dark-color);
}

/* Our barbers */

.our-barbers {
    color: var(--barbers-bg-color);
}

.barber-card:not(:last-child) {
    margin-right: 30px;
}

.card-title {
    padding-top: 30px;
    padding-bottom: 30px;
}

.barber-name {
    font-size: 18px;
    line-height: calc(25 / 18);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.prof {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--hover-color);
}

.socials {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--light-txt-cl);
    border-radius: 50%;
    fill: var(--dark-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.icon {
    width: 20px;
    height: 20px;
}

.socials-link:hover,
.socials-link:focus {
    fill: var(--hover-color);
}

/* Gallery */

.gallery-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.gallery {
    gap: 30px;
}

/* contacts */

.double-section {
    background-color: var(--contacts-bg-color);
}

.double-section .container {
    display: flex;
}

.booking {
    padding-top: 130px;
    padding-bottom: 130px;
    width: 640px;
    height: 644px;
}

.contacts {
    width: 640px;
    height: 644px;
    background-image: url(../image/contacts-bg.svg);
    background-repeat: no-repeat;
    padding-left: 100px;
    padding-bottom: 130px;
    padding-top: 130px;
}

.contact {
    display: flex;
    font-style: normal;
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--text-light-color);
    stroke: var(--text-light-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.contact:hover,
.contact:focus {
    color: var(--hover-color);
    stroke: var(--hover-color);
}

.contact-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    padding-bottom: 70px;
}

.contact-list-item:not(:last-child) {
    padding-bottom: 20px;
}

.hours-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 20px;
}

.hours-title::before {
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    background-color: var(--uppertitle-dark);
    margin-right: 20px;
}



.icon-contacts {
    margin-top: 3px;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    fill: var(--free-color);
}

.time {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--text-light-color);
}

.btn-light-down {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.09em;
    text-transform: uppercase;
    min-width: 160px;
    background-color: var(--free-color);
    border: 1px solid var(--hover-color);
    border-radius: 25px;
    padding: 12px 20px;
    color: var(--main-color);
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.btn-light-down:hover,
.btn-light-down:focus {
    background-color: var(--hover-color);
    color: var(--main-color);
}

/* Footer */

.footer {
    height: 127px;
    align-items: center;
    display: flex;
}

.link-list-footer {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 40px;
    list-style: none;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    color: var(--dark-color);
}

.link-list-footer::before {
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    background-color: var(--dark-color);
}

.copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 /11);
    letter-spacing: 0.2em;
    color: var(--text-light-color);
}

/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
    opacity: 1;
    visibility: visible;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    z-index: 100;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    width: 528px;
    height: 581px;
    border-radius: 4px;
    background-color: var(--contacts-bg-color);
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--hover-color);
    padding: 0;
    background-color: var(--main-color);
    box-shadow: var(--close-shadow);
    cursor: pointer;
    background-color: var(--contacts-bg-color);
    fill: var(--hover-color);
}

.close:hover {
    background-color: var(--hover-color);
}

.icon-close {
    width: 20px;
    height: 20px;
    fill: var(--main-color);
}

/* Footer form */

.name-phone {
    display: flex;
    align-items: center;
    gap: 30px; 
    margin-bottom: 44px;   
}

.input {
    width: 260px;
    height: 24px;
    font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--placeholder-text-color);
background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--placeholder-text-color);
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.input:focus,
.input-comment:focus {
    color: var(--main-color);
    border-color: var(--main-color);
    outline: none;
    text-transform: none;
}

.input-comment {
width: 550px;
    height: 76px;
    font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--placeholder-text-color);
background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--placeholder-text-color);
  cursor: pointer;
  margin-bottom: 44px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

textarea {
  resize: none;
}
    
/* Modal form */

.modal-form {
  width: 448px;
  height: 342px;
  margin: 12px 40px 20px 40px;
  
}

.form-name {
  margin: 40px 40px 0 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.form-field-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-modal {
  height: 40px;
  border: none;
  border-bottom: 1px solid var(--placeholder-text-color);  
  cursor: pointer;
  position: relative;
  padding: 12px 42px;
  color: var(--placeholder-text-color);
  background-color: var(--contacts-bg-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.input-modal:focus {
  outline: none;
  border-color: var(--main-color);
  color: var(--main-color);  
}

.label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
  margin-bottom: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form-field-modal:focus-within .label {
    color: var(--main-color);
}

.agreement {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.agreement.accept {
  color: var(--hover-color);
  padding-left: 4px;
}

.checkbox {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.input-comment-modal {
  height: 120px;
  padding: 12px 16px;
  text-transform: uppercase;
  background-color: var(--contacts-bg-color);
  border: none;
  border-bottom: 1px solid var(--placeholder-text-color);  
  cursor: pointer;
  color: var(--placeholder-text-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.input-comment-modal:focus {
  border: 1px solid var(--main-color);
  outline: none;
  text-transform: none;
  color: var(--main-color);
}

.input-comment-modal::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--form-placeholder-color);
}

.form-button {
  background-color: var(--hover-color);
  box-shadow: var(--hero-btn-shadow);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-color);
  fill: var(--main-color);
  box-shadow: var(--hero-btn-shadow);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form-button:hover {
  background-color: var(--btn-hover-color);
}

.modal-button { 
display: block; 
  margin-left: auto;
  margin-right: auto;
}

.icon-form {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--placeholder-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form-field-modal:focus-within>.icon-form {
  fill: var(--main-color);
}

.contract {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.check-empty {
  position: absolute;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  order: -1;
  opacity: 1;
}

.icon-check {
  order: -1;
  width: 16px;
  height: 15px;
  background-color: var(--main-color);
  margin-right: 7px;
  opacity: 0;
}

.contract:checked+.icon-check {
  opacity: 1;
}

.contract:checked~.check-empty {
  opacity: 0;
}