.about {
  display: flex;
}

.about-img {  
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
  gap: 30px;
  @extend %list;
}

.about-img__item {
  @media screen and (max-width: 1199px) {
  width: 330px;
  }
  @media screen and (min-width: 1200px) {
  width: 270px;
  }
}

.about-description {
  @media screen and (min-width: 768px) {
    padding-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 64px;
    width: 564px;
  }
  
}

.about-text {
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: $color-text-dark;
  @media screen and (max-width: 767px) {
    padding-bottom: 40px;
  }
  @media screen and (max-width: 1199px) {
    padding-bottom: 77px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 40px;
  }
}
