.double-section__bg {
  background-color: $color-contacts-bg;
}

.double-section {
  margin-left: auto;
  margin-right: auto;  
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
    justify-content: center;
  }
}

.booking {
  @media screen and (max-width: 767px) {
    height: 100%;
    width: 480px;
    padding: 84px 31px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    height: 522px;
    width: 768px;
    padding: 100px 39px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {    
    height: 644px;
    width: 585px;
    padding: 130px 0;
  }
}

@media screen and (max-width: 767px) {
  .booking-form__item {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .booking-form {
    display: flex;
    gap: 30px;
    margin-bottom: 44px;
  }
}

.booking-form__input {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 330px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  height: 24px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-placeholder-text;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-placeholder-text;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.booking-form__input:focus,
.booking-form__comment:focus {
  color: $color-main;
  border-color: $color-main;
  outline: none;
  text-transform: none;
}

.booking-form__comment {
  
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 570px;
  }
  height: 76px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-placeholder-text;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-placeholder-text;
  cursor: pointer;
  margin-bottom: 44px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

textarea {
  resize: none;
}

.btn-light__booking {
  @extend .btn-light;
  display: block;
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}
