.double-section {
  background-color: $color-contacts-bg;
}

.double-section .container {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.booking { 
  width: 100%;
  // height: 644px;
}

.booking-form {
  // display: flex;  
  // gap: 30px;
  margin-bottom: 44px;
}

@media screen and (max-width: 767px) {
    .booking-form__item {
      margin-bottom: 44px;
    }
  }

.booking-form__input {
  width: 100%;
  height: 24px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-placeholder-text;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-placeholder-text;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.booking-form__input:focus,
.booking-form__comment:focus {
  color: $color-main;
  border-color: $color-main;
  outline: none;
  text-transform: none;
}

.booking-form__comment {
  width: 100%;
  height: 76px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-placeholder-text;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-placeholder-text;
  cursor: pointer;
  margin-bottom: 44px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

textarea {
  resize: none;
}

.btn-light__booking {
  @extend .btn-light;
  display: block;
  margin-left: auto;
  margin-right: auto;
}