.contacts {
  width: 570px;
  height: 644px;
  background-image: url(../images/contacts-bg.svg);
  background-repeat: no-repeat;
  padding-left: 100px;
  padding-bottom: 130px;
  padding-top: 130px;
}

.contacts-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding-bottom: 70px;
}

.contacts-list__item:not(:last-child) {
  padding-bottom: 20px;
}

.contacts-list__link {
  display: flex;
  font-style: normal;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: $color-text-light;
  stroke: $color-text-light;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: $color-brand;
  stroke: $color-brand;
}

.contacts-list__icon {
  margin-top: 3px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  fill: $color-free;
}

.contacts__hours-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-main;
  margin-bottom: 20px;
}

.contacts__hours-title::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  background-color: $color-uppertitle-light;
  margin-right: 20px;
}

.contacts__hours-time {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: $color-text-light;
}