.media-hero {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  @media screen and (max-width: 767px) {
    background-image: url(../images/hero/hero-bg1m@1x.jpg);
    max-width: 480px;
    height: 580px;
    position: relative;
    top: 0;
    left: 0;   
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 39px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 15px;
  }
}


.media {
  position: absolute;
  background-color: $color-team-bg;
  box-shadow: $shadow-benefits;
  width: 680px;
  height: 90px;
  display: flex;
  transform-origin: top left;
  rotate: 270deg;
  top: 680px;
  @media screen and (min-width: 768px) {
    left: 39px;
  }
  @media screen and (min-width: 1200px) {
    left: 15px;
  }  
  align-items: center;
}

.media-links {
  align-items: center;
  gap: 30px;
  margin-left: 40px;
}

.media-links::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  background-color: $color-dark;
}

@media screen and (max-width: 767px) {
  .media {
    display: none;
  }
}
