.media {
    position: absolute;
    left: -70px;
    bottom: 169px;
    transform: rotate(-90deg);
    display: flex;
}

.media-links {
    align-items: center;
    gap: 30px;
}

.media-links::before {
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    background-color: $color-dark;
}

@media screen and (max-width: 767px) {
    .media {
        display: none;
    }
}