.logo {
  width: 70px;
  height: 56px;
  @media screen and (max-width: 767px) {
    fill: $color-main;
  }
  @media screen and (min-width: 768px) {
    fill: $color-dark;
  }
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.logo:hover,
.logo:focus {
  fill: $color-brand;
}

.header {
  height: 56px;
  position: absolute;  
  top: 40px;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend .container;
}

.header-nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-right: 310px;
  gap: 30px;
}

.header-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: $color-main;
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.header-link:hover,
.header-link:focus {
  color: $color-brand;
}

.btn-light.head {
  margin-left: 45px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-nav,
  .header-link,
  .btn-light.head {
    display: none;
  }
}
