.services-img {
  background-color: $color-services-bg;
}

.services {    
  @media screen and (max-width: 767px) {
    background-image: url(../images/services/services-m@1x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/services/services-t@1x.png);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/services/services-d@1x.png);
  }
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: 767px) {
    height: 738px;
  }
  @media screen and (min-width: 768px) {
    height: 856px;
  }
  @media screen and (min-width: 1200px) {
    height: 718px;
  }
}

.services-block {
  @media screen and (max-width: 1199px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  margin-bottom: 50px;
}

.services-list__item-all {
  @media screen and (max-width: 479px) {
    font-size: 12px;
    line-height: calc(20 / 12);
    padding: 0;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    font-size: 14px;
    line-height: calc(20 / 14);
    padding: 30px;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(30 / 18);
    padding: 32px 34px;
  }  
  @media screen and (min-width: 1200px) {
    display: none;
  }  
  letter-spacing: 0.02em;
  color: $color-text-light;
  list-style: none;
  margin: 0;
  // margin-bottom: 44px;
}

.services-list__left,
.services-list__right {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: calc(30 / 18);
  }
  padding: 30px 40px;
  letter-spacing: 0.02em;
  color: $color-text-light;
  list-style: none;
  margin: 0;
  // width: 585px;
  // height: 240px;
}

// .services-list__left {
//   background: $gradient-left-list;
  
// }
// .services-list__right {
//   padding: 0 30px 30px 30px;
//   background: $gradient-right-list;
// }

@media screen and (min-width: 1200px) {
  .services-list__left {
    background: $gradient-left-list;
    width: 585px;
  }
  .services-list__right {
    background: $gradient-right-list;
    width: 585px;
  }
}

.services-list__item {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.services-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.services-list__item::before {
  content: '';
  display: block;
  height: 1px;
  flex-grow: 1;
  background-color: $color-grow-line;
}

.services-list__price {
  order: -1;
}

.services-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
