.services-img {
  background-color: var($color-services-bg);
}

.services {
  background-image: url(../images/price-bg.svg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  height: 718px;
}

.services-block {
  display: flex;
  margin-bottom: 50px;
}

.services-list__left,
.services-list__right {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var($color-text-light);
  list-style: none;
  padding: 30px 40px;
  margin: 0;
  width: 585px;
  height: 240px;
}

.services-list__left {
  background: var($gradient-left-list);
}

.services-list__right {
  background: var($gradient-right-list);
}

.services-list__item {
  display: flex;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 20px;
}

.services-list__item::before {
  content: '';
  display: block;
  height: 1px;
  flex-grow: 1;
  background-color: var($color-grow-line);
}

.services-list__price {
  order: -1;
}

.services-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
